<!-- Copyright (c) 2018 Juan Carlos Orozco Arena. 
The MakerSCAD trademark, name and the block icons are owned and Copyright (c) 2018 MakerMex, SA de CV.
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License V3.0 as published by
the Free Software Foundation

Author: Juan Carlos Orozco
Includes contributions by MakerMex team: Luis Arturo Pacheco

3D design software based on software distributed with MIT License:
Blockly
Threejs
Polymer. -->


<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-shared-styles.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="assets-functions.html">

<dom-module id="assets-functions-dialog">
  <template>
    <style include="paper-dialog-shared-styles"></style>
    <style>
      :host {
        display: block;
        margin: 0px 0px;
        width: auto;
      }
      :host > ::content > * {
        margin-top: 0px;
        padding: 0 0px;
      }

      :host > ::content > *:first-child {
        margin-top: 5px;
      }

      :host > ::content > *:last-child {
        margin-bottom: 5px;
      }
    </style>
    <paper-button raised on-tap="close">Close</paper-button>
    <assets-functions id="assetsfunctions2" selected="{{selected}}"></assets-functions>
  </template>

  <script>
    Polymer({
      is: 'assets-functions-dialog',
      properties: {
      },
      listeners: {
        'iron-overlay-opened': '_open'
      },
      close: function() {
        this.toggle();
        if(typeof Blockly.EditorMutator.currentFieldTextInput !== "undefined"){
          Blockly.EditorMutator.currentFieldTextInput.setValue(this.selected);
        }
        //mm_assets_functions[this.selected] = this.$.editor_2.editor.getValue();
        mm_assets_functions[this.selected].data = this.$$("assets-functions").editor.getValue();
        myUpdate();
      },
      _open: function(event){
        this.$.assetsfunctions2._updateAssets();
        if(typeof Blockly.EditorMutator.currentFieldTextInput !== "undefined"){
          var name = Blockly.EditorMutator.currentFieldTextInput.text_;
          if(typeof mm_assets_functions[name] != "undefined"){
            this.selected = name;
          }
        }
      },
      ready: function() {
        this.modal = true;
        var keys = Object.keys(mm_assets_functions);
        if(keys.length<1){
          var newName = mm_repository.setAssetNameID(mm_assets_functions, "script1.js", "", "");
          this.selected = newName;
        }
        else{
          if(this.selected==""){
            this.selected=keys[0];
          }
        }
        // if(mm_assets_functions["script1.js"] == undefined){
        //   mm_assets_functions["script1.js"] = {name: "script1.js", data: "", url:""};
        // }
        // this.selected = "script1.js";
      },
      behaviors: [
        Polymer.PaperDialogBehavior
      ]
    });
  </script>

</dom-module>
