<!-- Copyright (c) 2018 Juan Carlos Orozco Arena. 
The MakerSCAD trademark, name and the block icons are owned and Copyright (c) 2018 MakerMex, SA de CV.
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License V3.0 as published by
the Free Software Foundation

Author: Juan Carlos Orozco
Includes contributions by MakerMex team: Luis Arturo Pacheco

3D design software based on software distributed with MIT License:
Blockly
Threejs
Polymer -->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="assets-item">
  <template>
    <style>
      :host {
        display: block;
      }
      #canvas2 {
        display: block;
        width: 200px;
        height: 150px;
      }
      .selected {
        /* color: blue; */
      }
    </style>

    <div on-tap="_selectAsset">
      <canvas id="canvas2">
      </canvas>
      <span>{{_getName(item)}}</span>
      <iron-icon icon="cancel" on-tap="_deleteAsset"></iron-icon>
    </div>
  </template>

  <script>
    Polymer({
      is: 'assets-item',
      properties: {
        item: {
          type: String,
          notify: false
        }
      },
      listeners: {
        //'change': 'change'
      },
      ready: function() {
        //console.log("assets-item loaded");
        var canvas = this.$.canvas2;
        var context = canvas.getContext( '2d' );
        context.drawImage( mm_assets_textures[this.item].data.image, 0, 0, 200, 150 );
      },
      //_drawItem: function (asset){
      //},
      _deleteAsset: function(e){
        //console.log("_deleteAsset()");
        // Call parent function this.domHost.someFunction()
        this.domHost._deleteAsset(this.item);
      },
      _getName: function(item){
        return mm_repository.getName(mm_assets_textures, item);
      },
      _selectAsset: function(e){
        this.domHost.selected = this.item;
      },
      behaviors: [
      ]
    });
  </script>
</dom-module>
