<!-- Copyright (c) 2018 Juan Carlos Orozco Arena. 
The MakerSCAD trademark, name and the block icons are owned and Copyright (c) 2018 MakerMex, SA de CV.
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License V3.0 as published by
the Free Software Foundation

Author: Juan Carlos Orozco
Includes contributions by MakerMex team: Luis Arturo Pacheco

3D design software based on software distributed with MIT License:
Blockly
Threejs
Polymer -->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-shared-styles.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">

<link rel="import" href="assets-images.html">

<dom-module id="assets-images-dialog">
  <template>
    <style include="paper-dialog-shared-styles"></style>
    <style>
      :host {
        display: block;
        width:100vw;
        height:100vh;
      }
    </style>

    <paper-button raised on-tap="close">Close</paper-button>
    <assets-images id="assetsimages2" selected="{{selected}}"></assets-images>
  </template>

  <script>
    Polymer({
      is: 'assets-images-dialog',
      properties: {
      },
      listeners: {
        'iron-overlay-opened': '_open'
      },
      close: function() {
        // TODO: Maybe use try catch instead.
        if(typeof Blockly.AssetImageMutator.currentLabelTextId !== "undefined"){
          Blockly.AssetImageMutator.currentLabelTextId.setValue(this.selected);
        }
        if(typeof Blockly.AssetImageMutator.currentLabelTextName !== "undefined"){
          if(typeof mm_assets_textures[this.selected] !== "undefined"){
            Blockly.AssetImageMutator.currentLabelTextName.setValue(mm_assets_textures[this.selected].name);
          }
        }
        if(typeof Blockly.AssetImageMutator.currentFieldImage !== "undefined"){
          if(typeof mm_assets_textures[this.selected] !== "undefined"){
            if(mm_assets_textures[this.selected].url != ""){
              Blockly.AssetImageMutator.currentFieldImage.setValue(mm_assets_textures[this.selected].url);
            }
            else{
              Blockly.AssetImageMutator.currentFieldImage.setValue(mm_assets_textures[this.selected].data.image.src);
            }
          }
        }
        this.toggle();
      },
      _open: function(event){
        //console.log("assets-images-dialog open");
        this.$.assetsimages2._updateAssets();
        if(typeof Blockly.AssetImageMutator.currentLabelTextId !== "undefined"){
          var id = Blockly.AssetImageMutator.currentLabelTextId.text_;
          if(typeof mm_assets_textures[id] !== "undefined"){
            this.selected = id;
          }
        }
      },
      ready: function() {
        this.modal = true;
        this.selected = "";
      },
      behaviors: [
        Polymer.PaperDialogBehavior
      ]
    });
  </script>

</dom-module>
