<!-- Copyright (c) 2018 Juan Carlos Orozco Arena. 
The MakerSCAD trademark, name and the block icons are owned and Copyright (c) 2018 MakerMex, SA de CV.
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License V3.0 as published by
the Free Software Foundation

Author: Juan Carlos Orozco
Includes contributions by MakerMex team: Luis Arturo Pacheco

3D design software based on software distributed with MIT License:
Blockly
Threejs
Polymer -->


<!-- TODO Do not allow duplicated names on assets -->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<!-- <link rel="import" href="../../bower_components/paper-material/paper-material.html"> -->

<dom-module id="assets-objects">
  <template>
    <style>
      :host {
        /* display: block; */
        display: flex;
        flex-direction: column;
      }
      #assets-three {
        display: inline-block;
        width: 200px;
        height: 150px;
      }
      #assets {
        /* height: 200px; */
        /* overflow-y: scroll; */
        /* flex-grow: 1; */
        /* flex-shrink: 1; */
        flex: flex-grow;
        overflow-y: scroll;
      }
      .asset {
        border-style: solid;
        border-width: 2px;
        display: inline-block;
      }
      .selected {
        background-color: #7F7FFF;
      }
    </style>

    Load assets:
    <paper-button raised on-tap="_load">Load</paper-button>
    <div>
      <paper-input id="url" label="Paste URL here http://..."></paper-input>
      <paper-button raised on-tap="_loadUrl">Load URL</paper-button>
    </div>
    <div id="selected_view">
      <div>
        <div id="assetsthree">
        </div>
      </div>
      <div>
        <div>
          {{_getName(selected)}}
        </div>
        <div>
          {{selected}}
        </div>
      </div>
    </div>

    <div id="assets">
      <template is="dom-repeat" items="{{assets}}">
        <div class$="asset {{_isSelectedClass(item, selected)}}" id$="{{item}}" on-tap="_selectAsset"> <!-- To include selected here is essencial to make the dom-repeat update appropriately -->
          <div>
            <span>
              {{_getName(item)}}
              <iron-icon icon="cancel" on-tap="_deleteAsset"></iron-icon>
            </span>
          </div>
          <div>{{item}}</div>
        </div>
      </template>
    </div>

    <input type="file" id="fileInput" multiple accept=".obj,.stl" on-change="_fileChange" hidden> <!--  multiple="{{multi}}" accept="{{accept}}">  Check an alternative to on-change or reset fileInput -->
  </template>

  <script>
    Polymer({
      is: 'assets-objects',
      properties: {
        assets: {
          type: Array,
          notify: true,
          value: function() {
            return [];
          }
        },
        selected: {
          type: String,
          notify: true,
          value: ""
        },
      },
      listeners: {
        'before-upload': 'beforeUpload'
        //'change': 'change'
      },
      ready: function() {
        //console.log("assets-objects loaded");
        // this.modal = true;
        if ( Detector.webgl )
          this.renderer = new THREE.WebGLRenderer( {antialias:true} );
        else
          this.renderer = new THREE.CanvasRenderer();
        //mm_renderer = new THREE.WebGLRenderer( {antialias:true} );
        ///var three_div = document.getElementById("assets-three");
        var three_div = this.$.assetsthree;
        //this.renderer.setSize( three_div.clientWidth, three_div.clientHeight );
        this.renderer.setSize( 200, 200 );
        //mm_renderer.setSize( 300, 300 );

        three_div.appendChild( this.renderer.domElement );

        //mm_camera = new THREE.PerspectiveCamera( 75, window.innerWidth / (window.innerHeight), 1, 1000 );
        //t/mm_camera = new THREE.PerspectiveCamera( 75, box2.clientWidth / (box2.clientHeight), 1, 1000 );
        //this.camera = new THREE.OrthographicCamera( three_div.clientWidth / - 2, three_div.clientWidth / 2, three_div.clientHeight / 2, three_div.clientHeight / - 2, 1, 1000 );
        this.camera = new THREE.OrthographicCamera( 200 / - 2, 200 / 2, 200 / 2, 200 / - 2, 1, 1000 );
        this.camera.position.z = 500;
        this.scene = new THREE.Scene();
      },
      // TODO: Manage case of asset that uses url. Maybe use url as key?
      _updateAssets: function() {
        this.assets = [];
        var that = this;
        Object.keys(mm_assets_objects).forEach(function(key) {
          var descr = key;
          that.push("assets", descr);
        });
      },
      _newObject: function(data){
        return data;
      },
      _load: function() {
        var elem = this.$.fileInput;
        if (elem && document.createEvent) { // sanity check
          var evt = document.createEvent("MouseEvents");
          evt.initEvent("click", true, false);
          elem.dispatchEvent(evt);
        }
      },
      _loadUrl: function() {
        var url = this.$.url.value;
        _loadObjectFromURL(url, this, true);
      },
      _drawAsset: function (asset){
         // Draw selected asset
         this.scene = null;
         this.scene = new THREE.Scene();
         this.scene.add(new THREE.HemisphereLight('#ffffff', '#666666', 1));
         try{
           //this.scene.add(mm_assets_objects[this.selected].clone());
           this.scene.add(asset.data.clone());
           this.renderer.render( this.scene, this.camera );
         }
         catch(err){
           console.error(err);
         }
      },
      _clearScene: function(){
        this.scene = null;
        this.scene = new THREE.Scene();
        this.scene.add(new THREE.HemisphereLight('#ffffff', '#666666', 1));
        try{
          //this.scene.add(mm_assets_objects[this.selected].clone());
          //this.scene.add(asset.clone());
          this.renderer.render( this.scene, this.camera );
        }
        catch(e){
          console.error(e);
        }
      },
      _isSelectedClass: function(item, selected) {
        var ret = "";
        if(item == selected){
          //console.log("Selected: "+item.name);
          ret = "selected";
          this._drawAsset(mm_assets_objects[this.selected]);
          // Draw selected asset
          // this.scene = null;
          // this.scene = new THREE.Scene();
          // this.scene.add(new THREE.HemisphereLight('#ffffff', '#666666', 1));
          // try{
          //   this.scene.add(mm_assets_objects[item.name].clone());
          //   this.renderer.render( this.scene, this.camera );
          // }
          // catch(e){
          //
          // }
        }
        return ret;
      },
      _fileChange: function(event) {
        //console.log(e);
        var files = event.target.files;
        //console.log("Load asset "+files[0].name);
        //console.log("Load "+files.length+" images.");
        for(var i=0; i<files.length; i++){
          this._loadImage(files[i]);
        }
        event.target.value = ""; // Allow _fileChange fire even if it is the same file ahain (updated file or a deleted asset)
      },
      _loadImage: function(file){
        var nameParts = mm_repository._nameParts(file.name);
        var reader = new FileReader();
        var that = this;
        reader.onload = function(){
          try{
            // TODO: Check if we need to get hash of actual stored data on the repository
            var id = mm_repository.hash(reader.result);
            if(nameParts.ext == "stl"){
              var loader = new THREE.STLLoader();
              var group1 = loader.parse(reader.result);
              //var id = mm_repository.hash(group1); // TODO: Maybe mm_new_mesh(group1) which is the actual stored data
              
              var geometry1 = mm_merge_geometry(mm_new_mesh(group1));
              geometry1.computeFaceNormals()
              geometry1.computeVertexNormals();
      
              //mm_group.add(mm_new_mesh(geometry1));
              
              mm_repository._setAssetDraw(that, mm_assets_objects, id, mm_new_mesh(geometry1), nameParts.name, ""); // new THREE.Geometry().fromBufferGeometry( loader.parse(reader.result) ); // Maybe do this conversion in boolean operator.
            }
            if(nameParts.ext == "obj"){
              var loader = new THREE.OBJLoader();
              var group1 = loader.parse(reader.result);
              // TODO: JCOA Loop on children. Allow an array on mm_assets_objects
              //var n = group1.children.lenght;
              // for(var i=0; i<n; i++){
              //mm_assets_objects[input.files[0].name] = mm_set(group1); //new THREE.Geometry().fromBufferGeometry( group1.children[0].geometry ); // Maybe do this conversion in boolean operator.
              var geometry1 = mm_merge_geometry(group1);
              geometry1.computeFaceNormals()
              geometry1.computeVertexNormals();
              
              mm_repository._setAssetDraw(that, mm_assets_objects, id, mm_new_mesh(geometry1), nameParts.name, ""); // new THREE.Geometry().fromBufferGeometry( loader.parse(reader.result) ); // Maybe do this conversion in boolean operator.
//              mm_repository._setAssetDraw(that, mm_assets_objects, id, mm_set(group1), nameParts.name, ""); // new THREE.Geometry().fromBufferGeometry( loader.parse(reader.result) ); // Maybe do this conversion in boolean operator.
            }
          }
          catch(err) {
            console.error(err);
          }
        };
        if(nameParts.ext == "stl")
          reader.readAsArrayBuffer(file); //readAsText(input.files[0]);
        if(nameParts.ext == "obj")
          reader.readAsText(file); //readAsText(input.files[0]);
      },
      _selectAsset: function(item){
        //console.log("Select: "+e.target.textContent);
        //this.selected = item.target.textContent;
        // TODO: Find a more portable way of finding the id of the selected div.
        try{
          var id = item.path[1].id;
          if(id != ""){ // To test when deleting an item because it also calls this select function
            this.selected = id;
            this._drawAsset(mm_assets_objects[id]);
          }
          else{
            id = item.path[2].id;
            if(id != ""){ // To test when deleting an item because it also calls this select function
              this.selected = id;
              this._drawAsset(mm_assets_objects[id]);
            }
          }
        }
        catch(e){
          console.error(e);
        }
      },
      _deleteAsset: function(event){
        //console.log(event);
        event.stopPropagation();
        //var asset = item; //.model.__data__.item;
        var asset = event.path[3].id; //.model.__data__.item;
        if(asset == this.selected){
          this.selected = "";
          this._clearScene();
        }
        this.splice("assets", this.assets.indexOf(asset), 1);
        delete mm_assets_objects[asset];
      },
      _getName: function(event){
        return mm_repository.getName(mm_assets_objects, event);
      },
      behaviors: [
      ]
    });
  </script>

</dom-module>
