<!-- Copyright (c) 2018 Juan Carlos Orozco Arena. 
The MakerSCAD trademark, name and the block icons are owned and Copyright (c) 2018 MakerMex, SA de CV.
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License V3.0 as published by
the Free Software Foundation

Author: Juan Carlos Orozco
Includes contributions by MakerMex team: Luis Arturo Pacheco

3D design software based on software distributed with MIT License:
Blockly
Threejs
Polymer -->


<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-shared-styles.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="play-dialog">
  <template>
    <style include="paper-dialog-shared-styles"></style>
    <style>
      :host {
        display: block;
        margin: 0px 0px;
        width: auto;
      }
      :host > ::content > * {
        margin-top: 0px;
        padding: 0 0px;
      }

      :host > ::content > *:first-child {
        margin-top: 5px;
      }

      :host > ::content > *:last-child {
        margin-bottom: 5px;
      }
    </style>
    <!-- <paper-dialog id="about1" modal class="with-margin full-height vertical"> -->
    <paper-button raised on-tap="close">Close</paper-button>
    <!-- </paper-dialog> -->
    <div id="three-play-container">
      <div id="three-play" style="width:100vw; height:100vh;"></div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'play-dialog',
      listeners: {
        'iron-overlay-opened': '_opened'
      },
      close: function() {
        this.toggle();
        mm_state.animate = false;
        var three_div = document.getElementById("three");
        var three_container = document.getElementById("three-container");
        mm_camera.left = three_container.clientWidth / - 2;
        mm_camera.right = three_container.clientWidth / 2;
        mm_camera.top = three_container.clientHeight / 2;
        mm_camera.bottom = three_container.clientHeight / -2;
        mm_camera.updateProjectionMatrix();
        mm_renderer.setSize( three_container.clientWidth, three_container.clientHeight );
        three_div.appendChild( mm_renderer.domElement );
        drawClick();
        if(typeof mm_play_close != "undefined") mm_play_close();
      },
      ready: function() {
        this.modal = true;
      },
      _opened: function(e) {
        mm_state.animate = true;
        var three_div = this.$['three-play']; //document.getElementById("three-play");
        var three_container = this.$['three-play-container']; //document.getElementById("three-play-container");
        mm_camera.left = three_container.clientWidth / - 2;
        mm_camera.right = three_container.clientWidth / 2;
        mm_camera.top = three_container.clientHeight / 2;
        mm_camera.bottom = three_container.clientHeight / -2;
        mm_camera.updateProjectionMatrix();
        mm_renderer.setSize( three_container.clientWidth, three_container.clientHeight );
        three_div.appendChild( mm_renderer.domElement );
        // JCO TODO: Maybe check if mm_play_init is a function instead
        if(typeof mm_play_init != "undefined") mm_play_init();
        drawClick();
      },
      behaviors: [
        Polymer.PaperDialogBehavior
      ]
    });
  </script>

</dom-module>
