<!-- Copyright (c) 2018 Juan Carlos Orozco Arena. 
The MakerSCAD trademark, name and the block icons are owned and Copyright (c) 2018 MakerMex, SA de CV.
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License V3.0 as published by
the Free Software Foundation

Author: Juan Carlos Orozco
Includes contributions by MakerMex team: Luis Arturo Pacheco

3D design software based on software distributed with MIT License:
Blockly
Threejs
Polymer -->


<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-shared-styles.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">

<dom-module id="settings-dialog">
  <template>
    <style include="paper-dialog-shared-styles"></style>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <paper-dialog id="about1" modal class="with-margin full-height vertical"> -->
      <paper-button raised on-tap="close">Close</paper-button>
      <br\>
      <!-- Todo add help button bubble -->
      <paper-toggle-button>Photorealism</paper-toggle-button>
    <!-- </paper-dialog> -->
  </template>

  <script>
    Polymer({
      is: 'settings-dialog',
      listeners: {
        'change': 'change'
      },
      close: function() {
        this.toggle();
      },
      ready: function() {
        this.modal = true;
      },
      change: function(e) {
        //console.log(e.target.checked);
        mm_settings.photorealism = e.target.checked; // Update global settings.
        mm_template.photorealism = e.target.checked; // Update global settings.
        if(mm_settings.photorealism){
          Blockly.mainWorkspace.updateToolbox(mm_xml_photorealism);
        }
        else{
          Blockly.mainWorkspace.updateToolbox(mm_xml_basic);
        }
      },
      behaviors: [
        Polymer.PaperDialogBehavior
      ]
    });
  </script>

</dom-module>
