<!-- Copyright (c) 2018 Juan Carlos Orozco Arena.
The MakerSCAD trademark, name and the block icons are owned and Copyright (c) 2018 MakerMex, SA de CV.
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License V3.0 as published by
the Free Software Foundation

Author: Juan Carlos Orozco
Includes contributions by MakerMex team: Luis Arturo Pacheco

3D design software based on software distributed with MIT License:
Blockly
Threejs
Polymer -->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="three-toolbar">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <paper-button id="reset_3d_zoom" on-click="_reset3DZoom">
      <img src="../../images/baseline-my_location-24px.svg">
    </paper-button>
    <paper-checkbox id="tt_grid">Grid</paper-checkbox>
    <paper-checkbox id="tt_axis">Axis</paper-checkbox>
    <paper-checkbox id="tt_wireframe">Wireframe</paper-checkbox>
    <paper-checkbox id="tt_shadows">Shadows</paper-checkbox>
<!--    <paper-checkbox id="tt_orthografic">Orthografic</paper-checkbox> -->
    <!-- <paper-checkbox id="tt_lights">Lights</paper-checkbox>
    <paper-checkbox id="tt_camera">Camera</paper-checkbox> -->

  </template>

  <script>
    Polymer({
      is: 'three-toolbar',
      listeners: {
        'change': 'change'
      },
      ready: function() {
      },
      _reset3DZoom: function() {
        //console.log("Reset 3D Zoom")
        mm_controls.reset();
      },
      change: function(e) {
        //console.log(e.target);
        switch(e.target.id){
          case "tt_grid":
            mm_three_toolbar.grid = e.target.checked;
            break;
          case "tt_axis":
            mm_three_toolbar.axis = e.target.checked;
            break;
          case "tt_wireframe":
            mm_three_toolbar.wireframe = e.target.checked;
            mm_material.wireframe = e.target.checked;
            break;
          case "tt_shadows":
            mm_three_toolbar.shadows = e.target.checked;
            break;
          case "tt_lights":
            break;
          case "tt_orthografic":
            mm_three_toolbar.orthographic = e.target.checked;
            //mm_material.edges = e.target.checked;
            break;
          case "tt_camera":
            break;
        }
        getCode();
        drawClick();
      },
      behaviors: [
      ]
    });
  </script>

</dom-module>
