html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

.vbox {
  display:         flex;
  flex-direction: column;
}
/* items flex/expand horizontally */
.hbox {
  display:         flex;
  flex-direction: row;
}
.space-between {
  justify-content: space-between;
}
.main {
  flex: 1;
}

.menu {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/*.menu {
  float: left;
}*/

.menu > .item, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 4px 16px; /* 14px 16px */
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;

}

.menu > .item:hover, .dropdown:hover .dropbtn {
  background-color: #989898;
}

.menu > .item .dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1000 !important;
  background-color: #989898;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: 17px;

}

.dropdown-content > .item {
  color: black;
  padding: 4px 4px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content > .item:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

/*
h1 {
  font-weight: normal;
  font-size: 140%;
}
table {
  height: 100%;
  width: 100%;
}
*/

#blocklyArea {
  flex: 1;
}
#blocklyDiv {
  position: absolute;
}

#three-container{
  position: relative;
  flex: 1;
}

#three {
  position: absolute;
  /* flex: 1; */
}

/*
.container {
  float: down;
  z-index:0;
  height: 92vh;
  border: 1px solid #aaa;
}
*/

#box1 {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#box2 {
  position: relative;
  height: 45vh;
  display: flex;
  flex-direction: column;
}

#editor-container {
   position: relative;
}

#editor_1 {
  position: absolute;
  display: block;
  margin: 0;
  /* width: 200px;
  height: 200px; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: white;
}
iron-splitter{

  width: 10px;
  background: #848484 url('../images/handle.svg') no-repeat center;
  box-shadow: inset 0 0 0px 0px #ccc;

}
#draw{
  background-color: #668000;
}
.logo{
  position: absolute;
  width: 150px;
  margin-top: 5px;
  right: 300px; /* 20px; */
}
#three-toolbar {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #777777;
  font-size: 15px;
  color: white;
}
.blocklyMainBackground {
  stroke-width: 1;
  stroke: #888888;
}
.paper-checkbox-0 #checkboxLabel.paper-checkbox {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;
  white-space: normal;
  line-height: normal;
  color: #eeeeee;
  border-color: #eeeeee;
}
.blocklySvg {
  background-color: #141414 !important;
}
