<!-- Copyright (c) 2016 Juan Carlos Orozco Arena. All rights reserved. -->
<!-- Author: Juan Carlos Orozco -->
<!-- Includes contributions by MakerMex team: Luis Arturo Pacheco -->

<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- shared styles for all elements and index.html -->
<dom-module id="shared-styles">
  <template>
    <style>
      .with-margin {
        margin: 10px 12px;
      }
      .full-height {
        height: 100%;
      }
      .scrollable {
        overflow: auto;
      }
      .vertical {
        @apply(--layout-vertical);
      }
      .flex {
        @apply(--layout-flex);
      }
    </style>
  </template>
</dom-module>
